<mat-sidenav-container class="nav-container">

<!-- Side Drawer for All Screens -->
  <mat-sidenav 
    #drawer 
    [mode]="isMobile ? 'over' : 'side'" 
    [opened]="!isMobile" 
    class="main-sidenav">

    <div class="sidebar-header" routerLink="/" >
      <img src="assets/favicon.png" alt="Nursery Logo" />
      <h3>The Mustard Seed</h3>
    </div>

    <div class="nav-links">
      <a mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" (click)="isMobile && drawer.close()">Home</a>
      <a mat-button routerLink="/inventory" routerLinkActive="active-link" (click)="isMobile && drawer.close()">Inventory</a>
      <a mat-button routerLink="/reserve" routerLinkActive="active-link" (click)="isMobile && drawer.close()">Reserve</a>
      <a mat-button routerLink="/gardening" routerLinkActive="active-link" (click)="isMobile && drawer.close()">Gardening</a>
      <a mat-button routerLink="/contact" routerLinkActive="active-link" (click)="isMobile && drawer.close()">Contact</a>
    </div>

  </mat-sidenav>

  <mat-sidenav-content>

    <!-- Top Toolbar for Title + Mobile Menu Toggle -->
    <mat-toolbar color="primary">

      <ng-container *ngIf="isMobile">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </ng-container>

      <a routerLink="/" class="site-title">The Mustard Seed Nursery</a>

      <span class="spacer"></span>

      <button
        mat-icon-button
        class="cart-button"
        *ngIf="reservedCount > 0"
        [routerLink]="'/reserve'"
        aria-label="View reservation"
      >
        <mat-icon>shopping_cart</mat-icon>
        <span class="cart-badge">{{ reservedCount }}</span>
      </button>


    </mat-toolbar>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>

    <app-footer></app-footer>

  </mat-sidenav-content>
</mat-sidenav-container>
